button.css3button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #ffffff;
	padding: 10px 20px;
        
	background: -moz-linear-gradient(
		top,
		#2c549e 0%,
		#142855);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#2c549e),
		to(#142855));
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 1px solid #0f3a6f;
	-moz-box-shadow:
		0px 0px 1px rgba(090,144,100,1),
		inset 0px 0px 5px rgba(255,255,255,0.2);
	-webkit-box-shadow:
		0px 0px 1px rgba(090,144,100,1),
		inset 0px 0px 5px rgba(255,255,255,0.2);
	text-shadow:
		-1px -1px 1px rgba(000,000,000,0.5),
		0px 0px 0px rgba(255,255,255,0);
}
div#butt {
   
        text-align: center;
}

